.contact-me-container {
  margin: auto;
  background-color: #343a40;
  max-width: 900px;
  margin-bottom: 75px;
}
.form {
  padding: 1rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr 5fr 2fr;
  row-gap: 6px;
}
.input {
  background-color: #495057;
  font-size: 22px;
  border: solid black;

  &:focus {
    outline: none;
  }
}

.contact {
  grid-column: 1 /-1;
  display: flex;
  justify-content: space-between;
}
.name,
.email {
  width: 49%;
}
.subject {
  grid-column: 1 / -1;
}
.message {
  position: relative;
  grid-row: 3 / 4;
  grid-column: 1 /-1;
  height: 100%;

  &::placeholder {
    position: absolute;
  }
  &[type='text'] {
    top: 3px;
  }
}
