.contact-me-container {
  margin: auto;
  height: 400px;
  display: flexbox;
  background-color: #343a40;
  width: max(900px);
  margin-bottom: 75px;
  overflow-y: hidden;
}
.form {
  padding: 45px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 45px 45px 150px 45px;
  gap: 15px;
}
.input {
  background-color: #495057;
  align-self: center;
  height: 45px;
  font-size: 22px;
  border: solid black;

  &:focus {
    outline: none;
  }
}
.email {
  ::placeholder {
    font-size: 2px;
  }
}
.subject {
  grid-column: 1 / -1;
}
.message {
  position: relative;
  grid-row: 3 / 4;
  grid-column: 1 /-1;
  height: 100%;

  &::placeholder {
    position: absolute;
  }
  &[type='text'] {
    top: 3px;
  }
}
