@media (max-width: 600px) {
  .proj {
    width: 90vw;
    margin: 22px auto;
  }
  .area-title {
    .title {
      font-size: 32px;
    }
    .subtitle {
      font-size: 14px;
      margin-bottom: 12px;
    }
  }
  .exp-container {
    margin: 0;
    .button {
      font-size: 12px;
      width: 100px;
      box-shadow: none;
    }
  }
  .exp {
    width: 90vw;
    gap: 0;
    margin: auto;
    grid-template-columns: repeat(3, 33vw);
    place-items: center;
    .button {
      margin: 0;
    }
  }
  .project-container {
    height: 45rem !important;
  }
}
