// #495057
// #00cccc

.proj {
  height: 500px;
}
.area-title {
  text-align: center;
  color: #00cccc;
  font-size: 50px;
}
.project-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}
