// #495057
// #00cccc

.proj {
  height: 70rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10rem 25rem 1fr;
  scroll-margin-top: 10rem;
}
.area-title {
  grid-column: 2/3;
  justify-content: center;
  align-self: center;
  .title {
    align-self: center;
    color: #00cccc;
    text-align: center;
    font-size: 5rem;
  }
}
.exp-container {
  margin-left: -5rem;
  grid-column: 1 /4;
  grid-row: 2/3;
}
.exp {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-row-gap: 1.5rem;
  grid-template-columns: repeat(3, 35rem);
  grid-template-rows: repeat(3, 5rem);
}
.project-container {
  grid-row: 3/4;
  grid-column: 1 / 4;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.button {
  width: 20rem;
}
