// #495057
// #00cccc
.container {
  z-index: 1;
}
.card {
  position: relative;
  z-index: 1;
  width: 200px;
  height: 275px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #495057;
  border: 2px solid #00cccc;

  transition: opacity 1s ease;

  &:hover {
    opacity: 75%;
  }
}
.title {
  text-align: center;
  color: #00cccc;
  background-color: #070808;
  font-size: 25px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.subtitle {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #949ea8;
  text-align: center;
}
.image {
  margin: auto;
  width: 190px;
  filter: saturate(3);
}

.buttons {
  position: absolute;
  bottom: 0;
  margin-left: 5px;
}

.btn {
  width: 90px;
  height: 50px;
  background-color: #00cccc;
  border: 2px solid black;
  color: black;
  font-size: 24px;
  text-align: center;
  margin-left: 2.5px;
  font-weight: 500;
  transition: all 1s ease;
  border-radius: 4px;

  &:hover {
    cursor: pointer;
    filter: saturate(3);
  }
  &:active {
    border: 4px solid black;
    filter: saturate(100);
  }
}

.overlay {
  background-color: black;
  opacity: 80%;
  width: 199px;
  margin-left: 0;
  display: flex;
  flex-direction: column;
}

.bottom-buttons {
  display: flex;
  justify-content: center;
  margin-left: -5px;
}

.list {
  height: 150px;
}

.used {
  text-align: center;
  filter: saturate(10000);
  margin-top: 15px;
  color: white;
}

.ul {
  list-style: none;
}

.li {
  color: #00cccc;
  filter: saturate(1000);
}

.hidden {
  display: none;
}
