@media only screen and (max-width: 600px) {
  .card {
    height: 40rem;
    position: static;
    width: 100%;
    height: 18rem;
    border: 2px solid #00cccc;
    border-radius: 3px;
    overflow: hidden;
    background-image: linear-gradient(to bottom right, #00cccc, white);
    display: flex;
    flex-direction: column;

    &__side {
      width: 100%;
      position: static;
      backface-visibility: visible;
      height: auto;
      border: none;
      &--front {
        padding: 0;
        box-shadow: none;
        background-color: transparent;
        display: block;
        height: 40%;
      }
      &--back {
        box-shadow: none;
        transform: rotateY(0);
        height: 60%;
      }
    }

    &__layer {
      position: static;
      display: flex;
      height: auto;
    }

    &__logo {
      position: static;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    &__front-details {
      display: block;
      background-color: transparent;
    }

    &__title {
      text-align: center;
      background: linear-gradient(to right, red, green, blue);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &__sub {
      font-size: 1.2rem;
      color: black;
      text-align: center;
    }

    &__langs {
      display: flex;
      flex-direction: row;
      margin: 0;
      color: white;
      &__title {
        margin-bottom: 0;
        color: white;
        display: none;
      }
    }
  }
  .logo-box {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: 2px solid black;
    overflow: hidden;
  }
  .back {
    filter: saturate(103%);
    &__background {
      position: static;
      height: 100%;
      align-items: flex-end;
    }

    &__btn {
      height: 4rem;
      width: 8rem;
    }
  }
}
// 343a40
// 495057
