.about-container {
  display: grid;
  grid-template-columns: 10% 90%;
  background-color: black;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  border-bottom: 3px solid #00cccc;
  display: relative;

  &:last-child {
    border-bottom: null;
  }
}
.sidename {
  grid-column: 1 /2;
  transform: rotate(270deg);
  justify-self: center;
  align-self: center;
  font-size: 84px;
}
.content {
  margin-left: 15px;
  display: absolute;
}
.sidename-title {
  color: #00cccc;
}
.question {
  font-size: 30px;
  color: #00cccc;
  margin-left: 2em;
  margin-top: 62px;
}
.answer {
  color: white;
  text-indent: 2em;
  margin-top: 12px;

  li {
    list-style: none;
    margin-left: -45px;

    svg {
      width: 12px;
    }
  }
  a {
    text-decoration: none;
    color: white;

    &:hover {
      cursor: pointer;
    }
  }

  &:last-child {
    margin-bottom: 84px;
  }
}

.project-description {
  color: white;
  text-indent: 2em;
  margin-top: 12px;
  &:last-child {
    margin-bottom: 84px;
  }
}
