.about-container {
  display: grid;
  grid-template-columns: 10% 90%;
  background-color: black;
  width: 100%;
  max-width: 100rem;
  margin: auto;
  border-bottom: 0.3rem solid #00cccc;
  display: relative;

  &:last-child {
    border-bottom: null;
  }
}
.sidename {
  grid-column: 1 /2;
  transform: rotate(270deg);
  justify-self: center;
  align-self: center;
  font-size: 8.4rem;
}
.content {
  margin-left: 1.5rem;
  display: absolute;
}
.sidename-title {
  color: #00cccc;
}
.question {
  font-size: 3rem;
  color: #00cccc;
  margin-left: 5rem;
  margin-top: 6.2rem;
}
.answer {
  color: white;
  text-indent: 5rem;
  margin-top: 1.2rem;

  li {
    list-style: none;
    margin-left: -4.5rem;

    svg {
      width: 1.2rem;
    }
  }
  a {
    text-decoration: none;
    color: white;

    &:hover {
      cursor: pointer;
    }
  }

  &:last-child {
    margin-bottom: 8.4rem;
  }
}

.project-description {
  color: white;
  text-indent: 4rem;
  margin-top: 1.2rem;
  &:last-child {
    margin-bottom: 8.4rem;
  }
}

@media (max-width: 40rem) {
  .about-container {
    display: flex;
    flex-direction: column;
  }
  .sidename {
    transform: none;
  }
}
