.menu {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 112;
  background-color: black;
  width: 95vw;
  max-width: 90rem;
  margin: auto;
  overflow-y: hidden;

  .home {
    display: flex;
    gap: 2rem;
    margin-left: 1rem;
    .logo {
      width: 3.5rem;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .locations {
    display: flex;
    gap: 2rem;
    margin-right: 2rem;
  }

  .item {
    text-decoration: none;
    color: white;
    font-size: 2.4rem;

    &:hover {
      cursor: pointer;
      color: #00cccc;
    }
  }
}
