.intro-container {
  color: white;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
}
.backgroundimg {
  background-image: url(https://images.unsplash.com/photo-1605379399642-870262d3d051?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1812&q=80);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
}
.foreground {
  position: absolute;
  top: 25%;
  left: 50%;
  height: 70vh;
  width: max(1000px);
  transform: translatex(-50%);
  // border: 3px solid green;
  backdrop-filter: brightness(80%);
}
.myname {
  font-size: 84px;
  filter: saturate(150%);
}
.mytitle {
  color: #00cccc;
  font-size: 48px;
  margin-top: 12px;
  text-align: center;
}
.myintro-container {
  margin-top: 20px;
  width: 60vw;
  margin: auto;
  .myintro {
    margin-top: 70px;
  }
}
.contactbtn {
  position: absolute;
  bottom: 0;
  right: -75px;
}
