@media (max-width: 600px) {
  .intro-container {
    width: 100%;
    .contactbtn {
    }
  }
  .backgroundimg {
    height: 100vh;
  }
  .foreground {
    width: 90%;
  }
  .myname {
    font-size: 36px;
  }
  .mytitle {
    font-size: 24px;
  }
  .myintro-container {
    font-size: 12px;
  }
}
