body {
  background-color: black;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
  font-family: 'Source Serif Pro', serif;
}
.background {
  margin-left: -2vw;
  margin-top: -2vw;
}
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}
