* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  overflow: scroll;
  overflow-x: hidden;
  font-size: 10px;
}
body {
  background-color: black;
  overflow-x: hidden;
  font-family: 'Source Serif Pro', serif;
}
.background {
  margin-left: -2vw;
  margin-top: -2vw;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
}

@media (max-width: 600px) {
  body {
    background-color: black;
  }
}
